name: ci

on:
  push:
    branches:
      - main

jobs:
  build-generate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: false

      - name: Set up Java 21
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Build and test
        run: mvn -q clean verify

      - name: Generate dashboard JSON
        run: |
          mvn -q -DskipTests compile exec:java -Dexec.mainClass=org.example.Main
          test -s dashboards/cpu_usage_generated.json

#      - name: Download and Extract grafanactl
#        run: |
#          curl -L -o grafanactl-x86_64.tar.gz "https://github.com/grafana/grafanactl/releases/download/${{ vars.GRAFANACTL_VERSION }}/grafanactl_Linux_x86_64.tar.gz"
#          tar -xzf grafanactl-x86_64.tar.gz
#          chmod +x grafanactl
#          sudo mv grafanactl /usr/local/bin/grafanactl
#
#      - name: Deploy Dashboard with grafanactl
#        env:
#          GRAFANA_SERVER: ${{ vars.GRAFANA_SERVER }}
#          GRAFANA_STACK_ID: ${{ vars.GRAFANA_STACK_ID }}
#          GRAFANA_TOKEN: ${{ secrets.GRAFANA_TOKEN }}
#        run: |
#          if [ -f dashboards/cpu_usage_dashboard_generated.json ]; then
#            echo "dashboard.json exists, deploying dashboard."
#            grafanactl resources push dashboards --path ./dashboards/cpu_usage_dashboard_generated.json
#          else
#            echo "dashboards/cpu_usage_dashboard_generated.json does not exist."
#            exit 1
#          fi
#        working-directory: ./github-actions-example
